.title{
    margin-top: 5px;
    margin-left: 5px;
    height: 100px;
    background-color: orange;
    color: white;
    text-align: center;
}

h1{
    position: relative;
    top: 20px;
    text-align: center;
}

/*Instructions*/

.instructions{
    position: relative;
    top: 10px;
    margin-left: 5px;
    height: 300px;
    background-color: #fbe6cf;
    padding-left: 10px;
    padding-right: 5px;
}

/*Random Number*/

.rnd-num{
    height: 125px;
    background-color: green;
    margin-top: 20px;
    margin-left: 5px;
    
}

/*Wins Losses*/
.wins-losses{
    position: relative;
    right: 25px;
    height: 125px;
    background-color: #4afdfd;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 0px;
}

/*images*/
#blue-crystal{
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}

#red-crystal{
    position: relative;
    left: 35px;
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}

#green-crystal{
    position: relative;
    left: 105px;
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}

#yellow-crystal{
    position: relative;
    left: 70px;
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-top: 5px;
}

/*User Score*/

#score-label{
    position: relative;
    height:25px;
    background-color: #258c85;
    margin-top: 5px;
    margin-left: 20px;
}

#score-value{
    position: relative;
    height:100px;
    background-color: #258c85;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
}

