.title{
    margin-top: 5px;
    margin-left: 5px;
    height: 100px;
    background-color: orange;
    color: white;
    text-align: center;
}

h1{
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
}

h2{
    color: yellow;
    text-align: center;
    margin-top: 25px;
}

/*Instructions*/

.instructions{
    position: relative;
    top: 10px;
    margin-left: 5px;
    height: 250px;
    background-color: #fbe6cf;
    padding-left: 10px;
    padding-right: 5px;
}

/*Random Number*/

.rnd-num{
    height: 125px;
    background-color: green;
    margin-top: 20px;
    margin-left: 5px;
    
}

/*Wins Losses*/
.wins-losses{
    position: relative;
    right: 25px;
    height: 125px;
    background-color: #4afdfd;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 0px;
}

.image-crystal{
    position: static;
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

/*User Score*/
#score-label{
    position: relative;
    height:25px;
    background-color: #258c85;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
}

#score-value{
    position: relative;
    height:100px;
    background-color: #258c85;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 40px;
}

